@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    This is a website for the fighting game community of Serbia.<br />
    The Website has information of all of the registered players in Serbia.<br />
    <b>UNDER CONSTRUCTION AND TODO:</b><br />
    Implement registration and login forms<br />
    Admin panels<br />
    Twitch viewing <a href="https://dev.twitch.tv/docs/v5/">API</a><br />
    Tournament creation/registration <a href="https://api.challonge.com/v1"> (challonge api)</a><br />
    Change the about page<br />
    Meetups page<br />
    Contact page (e-mail form)<br />
</p>
